<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1 class="heading-1">Welcome to FLASK</h1>
    <main class="main">
        <div class="container-out">
            
            <div class="container-in">
                <div><h2>Log In</h2></div>

                <div class="input-out">
                    <div class="input">
                        <i class="fa fa-user fa-solid"></i>
                        <input placeholder="Enter your name..."/>
                    </div>
                </div>

                <div class="input-out">
                    <div class="input">
                        <i class="fa fa-lock fa-solid"></i>
                        <input placeholder="Enter your password..."/>
                    </div>
                </div>

                <div class="submit-out">
                    <div class="submit">
                        <div class="button">Submit</div>
                    </div>
                </div>

                <div>
                    <p>If you didn't have an account, then <a>Sign Up</a></p>
                </div>

            </div>
        </div>
    </main>
    <!-- <div class="head-main">
        <h2>Welcome To </h2>
        <h1>FLASK</h1>
    </div>
    <div class="content-flex">
        <div class="content-2">
            <p class="content-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo harum earum eos totam quaerat blanditiis, ratione aliquam itaque asperiores aperiam sit repellendus ea assumenda corporis vero magni quis esse illum?</p>
            <div class="button-container">
                <button class="nav">Click Here</button>
            </div>
        </div>
        <div class="content-2">
            <p class="content-para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis libero aliquid, nihil commodi fugiat animi ipsa voluptatem. Quam vero quo nobis labore consectetur. Magni ea facere sit quasi laudantium libero?</p>
            <div class="button-container">
                <button class="nav">Click Here</button>
            </div>
        </div>
        <div class="content-2">
            <p class="content-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cum hic dignissimos repellendus minus harum eius? Dolores sit neque dignissimos, aliquam, deleniti adipisci voluptate vero consequatur sunt blanditiis, eveniet dolorem.</p>
            <div class="button-container">
                <button class="nav">Click Here</button>
            </div>
        </div>
    </div> -->
</body>
</html>