<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="main">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
              <!-- <img class="navbar-brand" src="https://cdn.freebiesupply.com/logos/thumbs/2x/flask-logo.png"/> -->
                </li>
                <li class="nav-item ">
                  <u><a class="nav-link text-dark font-weight-bold" >Home <span class="sr-only">(current)</span></a></u>
                </li>
                <li class="nav-item active">
                  <a class="nav-link text-muted" href="login">Log In</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link text-muted" href="signup" tabindex="-1" aria-disabled="true">Sign Up</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
          <div class="heading-div"><p class="heading">Wild Cats</p></div>
          <section class="grid-flex">
            <!-- <div class="grid_parent"> -->
              <div class="cardd">
                <!-- <div class="card__background" style="background-image: url(https://img.freepik.com/premium-photo/fire-lion_264411-2948.jpg)"></div> -->
                <p class="card-title">LION</p>
                <!-- <div class="view">View</div> -->
              </div>
              <div class="cardd">
                <!-- <div class="card__background" style="background-image: url(https://thumbs.dreamstime.com/b/aggressive-mystical-angry-tiger-dark-background-smoke-fire-ai-generated-aggressive-mystical-angry-tiger-dark-288093509.jpg)"></div> -->
                <p class="card-title">TIGER</p>
                <!-- <div class="view">View</div> -->
              </div>
              <div class="cardd">
                <!-- <div class="card__background" style="background-image: url(https://c4.wallpaperflare.com/wallpaper/42/130/377/pathway-in-between-leafless-tree-under-nimbus-clouds-wallpaper-preview.jpg)"></div> -->
                <p class="card-title">CHEETAH</p>
                <!-- <div class="view">View</div> -->
              </div>
              <div class="cardd">
                <!-- <div class="card__background" style="background-image: url(https://thumbs.dreamstime.com/b/aggressive-mystical-angry-tiger-dark-background-smoke-fire-ai-generated-aggressive-mystical-angry-tiger-dark-288093509.jpg)"></div> -->
                <p class="card-title">BLACK PANTHER</p>
                <!-- <div class="view">View</div> -->
              </div>

              <!-- <div class="grid-child">
                <p class="card-title">TIGER</p>
              </div>
              <div class="grid-child">
                <p class="card-title">CHEETAH</p>
              </div>
              <div class="grid-child">
                <p class="card-title">BLACK PANTHER</p>
              </div> -->

            <!-- </div> -->
          </section>
    </div>
</body>
</html>